aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
git+https://github.com/pyrogram/pyrogram@master
py-tgcalls==0.8.1rc1
pytube
wget
python-dotenv
search-engine-parser
heroku3
tgcrypto
youtube-search-python
youtube-search
speedtest-cli
cryptography
dnspython
future
hurry.filesize
motor
psutil
pyromod
requests
speedtest-cli
uvloop
git+https://github.com/yt-dlp/yt-dlp@master
hachoir
